<footer class="page-footer center-on-small-only stylish-color-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title mb-4 mt-3 font-bold">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Partners</h5>
                <ul>
                    <li><a href="https://itaxi.md/ru/">iTaxi</a></li>
                    <li><a href="https://999.md/ru/">999</a></li>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://learn.javascript.ru/">Learn JavaScript</a></li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Kitchen</h5>
                <ul>
                    <li><a href="https://foodhouse.md/ru/osho">Osho</a></li>
                    <li><a href="http://torrogrill.md/">Torro Grill</a></li>
                    <li><a href="https://mipiace.md/">Mipiace</a></li>
                    <li><a href="https://gastrobar.odessa.ua/">Gastrobar</a></li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold ">Location</h5>
                <ul>
                    <li><a href="https://www.google.com/search?sxsrf=ALeKk024cq9TBfVUf73JzkWIlcw37xyYfg:1585662215994&q=osho&npsic=0&rflfq=1&rlha=0&rllag=47002985,28859168,354&tbm=lcl&ved=2ahUKEwi8v_iI7MToAhUdwsQBHe2uDREQtgN6BAgKEAQ&tbs=lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:9&rldoc=1#rlfi=hd:;si:;mv:[[47.0061024,28.860159699999997],[46.999869,28.8581766]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:9">Osho Map</a></li>
                    <li><a href="https://www.google.com/search?tbm=lcl&sxsrf=ALeKk03sAapRQOoWYaDAukISJObYfGu-yA%3A1585662218831&ei=CkmDXvOzMpKz6ASJsJSwBg&q=Torro+grill&oq=Torro+grill&gs_l=psy-ab.3..35i39k1j0l8j0i203k1.31125.33145.0.33344.11.11.0.0.0.0.133.1058.4j6.10.0..2..0...1c.1.64.psy-ab..1.10.1055...0i67k1j0i131k1j0i131i67k1j0i20i263i395k1j0i131i395k1j0i395k1j0i20i263k1j0i10i395k1j0i10k1.0.BebRyTId8i4#rlfi=hd:;si:11643253934357279455;mv:[[47.0483149,28.8706277],[47.0317894,28.822258299999998]]">TorroGrill Map</a></li>
                    <li><a href="https://www.google.com/maps/place/MiPiace/@46.9987096,28.8577188,15z/data=!4m12!1m6!3m5!1s0x0:0x677e28bd7061dda2!2sMiPiace!8m2!3d46.9987096!4d28.8577188!3m4!1s0x0:0x677e28bd7061dda2!8m2!3d46.9987096!4d28.8577188">Mipiace Map</a></li>
                    <li><a href="https://www.google.com/maps/place/Gastrobar/@46.4853563,30.7381523,15z/data=!4m12!1m6!3m5!1s0x0:0x65b08b549ea6df95!2sGastrobar!8m2!3d46.4858291!4d30.7388389!3m4!1s0x0:0x65b08b549ea6df95!8m2!3d46.4858291!4d30.7388389">Gastrobar Odessa</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="call-to-action">
        <ul>
            <li>
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li><a href="" class="btn btn-danger btn-rounded">Sign up!</a></li>
        </ul>
    </div>
    <hr>
    <div class="social-section text-center">
        <ul>
            <li><a class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-li"><i class="fa fa-linkedin"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-dribbble"><i class="fa fa-dribbble"> </i></a></li>
        </ul>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.sitepoint.com"> SitePoint.com </a>
        </div>
    </div>
</footer>